<h2 class="center aligned ui header">With great power comes great responsibility.</h2>

<div class="ui three column grid stackable">
  <div class="column">
    <div class="ui red segment">
    <h3 class="center aligned ui header">Users</h3>
      <div class='centered smallish'><em>Manage user accounts.</em></div>

      <table class="ui collapsing basic table">
        <% @users.sort.each do |user| %>
          <% unless user == current_user %>
            <tr>
              <td>
                <% if user.admin == true %>
                  <i class="blue star icon"></i>
                <% end %>
              </td>
              <td><%= image_tag user.avatar_url, class: 'rounded ui image' %></td>
              <td><strong><%= user.username %></strong><br>
                <%= user.email %><br><br>
                <% if user.admin == true %>
                  <%= button_to "Remove Admin", destroy_admin_path(user.id), method: :patch, class: "ui mini blue button" %>
                <% else %>
                  <%= button_to "Make Admin", create_admin_path(user.id), method: :patch, class: "ui mini green button" %>
                <% end %><br>
                <% unless user.admin == true %>
                  <%= button_to "Delete User", user_path(user.id), method: :delete, class: "ui mini red button" %></td>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>

  <div class="column">
    <div class="ui green segment">
            <h3 class="center aligned ui header">News</h3>
      <div class='centered smallish'><em>Write a new blog post.</em></div>

      <table class="ui collapsing basic table">
        <tr><td><%= render 'posts/form' %></tr></td>
      </table>
    </div>
  </div>

  <div class="column">
    <div class="ui blue segment">
    <h3 class="center aligned ui header">Tools</h3>
      <div class='centered smallish'><em>Add a tool.</em></div>
        <table class="ui collapsing basic table">
          <tr><td><%= render 'tools/form' %></tr></td>
        </table>
        <div class="ui divider">
        </div><br>
      <div class='centered smallish'><em>Manage the tool library.</em></div><br>
        <table class="ui collapsing basic table">
          <% @tools.sort.each do |tool| %>
            <tr>
              <td><%= tool.title %></td>
              <td><%= button_to "Remove", tool_path(tool.id), method: :delete, class: "ui mini red button" %></td>
            </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>