<div class="padded">
  <%= image_tag @user.avatar_url, class: 'rounded ui image' %>
  <h2 class="ui header"><%= @user.username %></h2>
  <% if @user.email %>
    <%= @user.email %>
  <% end %>
  <br>
  <% if @user.phone %>
    <%= @user.phone %>
  <% end %>

  <div class="ui green segment">
    <h4 class="ui header">My Tools</h4>
    <% @user.tools.each do |tool| %>
      <p><%= tool.title %><br>
      <em>Checked out <%= time_ago_in_words(tool.updated_at) %> ago</em></p>
    <% end %>
  </div>

  <div class="ui green segment">
    <h4 class="ui header">My Tools</h4>
    <% @user.tools.each do |tool| %>
      <p><%= tool.title %><br>
      <em>Checked out <%= time_ago_in_words(tool.updated_at) %> ago</em></p>
    <% end %>
  </div>
</div>