<h1>WELCOME TO UR PROFILE</h1>

<p><%= @user.username %></p>

<p>
<% if @user.email %>
  <%= @user.email %>
<% end %>
</p>
<p>
<% if @user.phone %>
  <%= @user.phone %>
<% end %>
</p>

Reserved Tools:
<% @user.tools.each do |tool| %>
  <%= tool.title %><br>
  <%= time_ago_in_words(tool.updated_at) %> ago
  <%= button_to "Return", return_tool_path(tool) %>
<% end %>