<h1>WELCOME TO UR PROFILE</h1>

<table>
  <tr>
    <td class="profile-table"><%= image_tag @user.avatar_url, class: 'rounded ui image' %></td>
    <td class="profile-table">
      <h2><%= @user.username %></h2>
      <% if @user.email %>
        <%= @user.email %>
      <% end %>
      <br>
      <% if @user.phone %>
        <%= @user.phone %>
      <% end %>
    </td>
  </tr>
</table>

Reserved Tools:
<% @user.tools.each do |tool| %>
  <%= tool.title %><br>
  <%= time_ago_in_words(tool.updated_at) %> ago
  <%= button_to "Return", return_tool_path(tool), method: :patch %>
<% end %>