<style>
body {
background-color: #58CF3D;;
}
</style>
<div class="ui inverted page grid masthead segment">
  <div class="column">
    <img src="gnome.png" class="ui large image">
    <div class="ui transition information">
      <div class="ui inverted basic right floated segment">RIGHT NOW:
        <%= @weather.current.temperature.f %>&deg<br>
        <%= image_tag "http://icons.wxug.com/i/c/i/#{@weather.current.icon}.gif", size: "30"  %><br><br>
        <table>
          <thead>
            <tr>
              <% forecast.each do |day| %>
                <th><%= day.strftime("%b %e") %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr>
             <% @weather.forecast.first(5).each do |day| %>
                <td><%= image_tag "http://icons.wxug.com/i/c/i/#{day.icon}.gif", size: "30"  %> </td>
             <% end %>
            </tr>
            <tr>
             <% @weather.forecast.first(5).each do |day| %>
               <td><strong><%= day.high.f %>&deg</strong>/
                 <%= day.low.f %>&deg</td>
             <% end %>
            </tr>
          </tbody>
        </table>
      </div>
      <h1 class="ui inverted header">
        Gnome <span id="yellow">Sweet</span> Gnome
      </h1>
      <p>Our community garden description?</p>
      <div class="large basic inverted animated fade ui button">
        <div class="visible content">
          <% if current_user %>
            Planted all the plants?
          <% else %>
            Come plant some plants!
          <% end %>
        </div>
        <div class="hidden content">
          <% if current_user %>
            <%= link_to "Sign out", sign_out_path %>
          <% else %>
            <%= link_to "Sign In with Twitter", sign_in_path%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="news">
  <div class="ui page grid stackable relaxed feature segment">
    <div class="row">
      <div class="column">
        <h2 class="center aligned ui header">
          Gnome Gnews
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="ui three column center aligned stackable divided grid">
        <% if @posts %>
          <% @posts.each do |p| %>
          <div class="column">
             <div class="ui icon header">
              <%= p.title %>
             </div>
             <p><em><%= time_ago_in_words(p.created_at) %> ago</em></p>
             <p><%= truncate(p.content, length: 200, omission: '...') %></p>
             <p><%= link_to "More", post_path(p), class: "ui blue button"%>
             </p>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <h1 class="center aligned ui header">
          <a href="/posts">
            <div class="ui basic animated button button">
              <div class="visible content">Read More</div>
              <div class="hidden content"><i class="right arrow icon"></i></div>
            </div>
          </a>
        </h1>
      </div>
    </div>

    <% if current_user && current_user.email.nil? %>
      <div class="row">
        <div class="column">
          <div class="center aligned ui basic segment">
            <div class="ui horizontal icon divider">
              <i class="circular bug icon"></i>
            </div>
            <h4 class="center aligned ui header">
              Want to receive Gnome Gnews updates?
            </h4>
            <div class="email-me">
              <%= link_to "Give us your email address!", edit_user_path(current_user.id), class: "email-me" %>
            </div>

            <div id="email_form_congrats" style="display:none">It's your lucky day! You've been added to our mailing list.</div>
            <div id="email_form_uhoh" style="display:none">Something has gone horribly wrong.</div>
            <div class = "ui form" id="email_form" style="display:none">
              <%= form_for @user do |f| %>
                <div class="inline field">
                  <%= f.text_field :email %>
                  <%= f.submit "Spam me!", class: "ui mini blue button", id: "submit_button" %>
                </div>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    <% elsif current_user.nil? %>
      <h4 class="center aligned ui header">Sign in to receive Gnome Gnews updates!</h4>
    <% end %>

  </div>
</div>

<div id="events">
  <div class="inverted center aligned row ui events">
    <h1 class="center aligned inverted ui header">
      Community Events
    </h1>
    <div class="events_calendar">
  <%= render 'calendar' %>
</div>
  </div>
</div>

<div id="tools">
  <div class="center aligned row ui tools">
    <h1 class="center aligned ui header">Tools Library</h1>
    <% if current_user.nil? %><h5 class="center aligned ui header">(Please sign in to use the tools library.)</h5><% end %>
    <table class="ui collapsing basic table">
      <% if @tools %>
        <tbody>
          <% @tools.sort.each do |t| %>
            <tr>
              <td><%= t.title %></td>
              <% if current_user %>
                <td class="checkout-return">
                  <% if t.user_id.nil? %>
                    <%= button_to "Check Out", reserve_tool_path(t), method: :patch, class: "checkout_button ui mini green button" %>
                  <% elsif t.user_id == current_user.id %>
                    <%= button_to "    Return    ", return_tool_path(t), method: :patch, class: "return_button ui mini red button" %>
                  <% else %>
                    <em>Checked out by <%= t.user.username %></em>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
