  <div class="row">
    <div class="column">
      <h2 class="center aligned ui header">
        <%= @event.title %>
      </h2>
      <h4 class="center aligned ui header">
        <% if current_user && current_user.id == @event.user_id %>
          <%= link_to 'Edit Event', edit_event_path(@event) %> |
          <%= link_to 'Delete', @event, method: :delete, data: {confirm: 'Are you sure?'} %>
        <% else %>
          Added by <%= "#{User.find_by_id(@event.user_id).username}"%></br>
        <% end %>
      </h4><br>
    </div>
  </div>

<div class="ui three column center aligned stackable divided grid">
  <div class="column">
    <div class="ui green segment">
      <h3 class="ui header">Event Details</h3>
      <p><strong>When:</strong>
      <%= @event.date.strftime(" %B %d at %I:%M %p") %></p>
      <p><strong>Where:</strong>
      <%= @event.location %></p>
    </div>
  </div>
  <div class="column">
    <div class="ui red segment">
      <h3 class="ui header">Description</h3>
      <p><%= @event.description %></p>
    </div>
  </div>
  <div class="column">
    <div class="ui blue segment">
      <h3 class="ui header">RSVP</h3>
      <% if current_user %>
        <% if @event.users.empty? %>
          <em>No one joined yet</em>
          <hr>
        <% else %>
         <strong>Yes:</strong><br>
          <% @event.events_users.where(response:"yes").each do |eu| %>
            <%= "#{eu.user.username}" %></br>
          <% end%>
          <hr>
          <strong>Maybe:</strong><br>
          <% @event.events_users.where(response:"maybe").each do |eu| %>
            <%= "#{eu.user.username}" %></br>
          <% end%>
          <hr>
        <% end%>
      <% else %>
        <p><%= link_to "Sign in to see who's attending", sign_in_path %></p>
      <% end %>


      <table >
        <% if current_user && eu %>
          <% case eu.response %>
          <% when "yes" %>
            <tr>
              <td><strong>Change Your RSVP: </strong></td>
              <td><%= button_to "No", rsvp_no_path(@event), method: :delete, class: "ui red tiny button" %></td>
              <td><%= button_to "Maybe", rsvp_path(@event, response: "maybe"), class: "ui blue tiny button" %></td>
          <% when "maybe" %>
              <td><strong>Change Your RSVP: </strong></td>
              <td><%= button_to "No", rsvp_no_path(@event), method: :delete, class: "ui red tiny button" %></td>
              <td><%= button_to "Yes", rsvp_path(@event, response: "yes"), class: "ui green tiny button" %></td>
          <% end %>
        <% elsif current_user %>
            <td><strong>Will you attend? </strong></td>
            <td><%= button_to "Yes", rsvp_path(@event, response: "yes"), class: "ui green tiny button" %></td>
            <td><%= button_to "Maybe", rsvp_path(@event, response: "maybe"), class: "ui blue tiny button" %></td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>

