  <div id="event_form">

    <% if current_user %>
      <% if @event.users.empty? %>
        <em>No one joined yet</em>
      <% else %>
       <h3>Yes:</h3>
        <% @event.events_users.where(response:"yes").each do |eu| %>
          <%= "#{eu.user.username}" %></br>
        <% end%>
         <h3>Maybe:</h3>
        <% @event.events_users.where(response:"maybe").each do |eu| %>
          <%= "#{eu.user.username}" %></br>
        <% end%>
      <% end%>
    <% else %>
      <p><%= link_to "Sign in to see who's attending", sign_in_path %></p>
    <% end %>



    <h2><%= @event.title %></h2>

    <% if current_user && current_user.id == @event.user_id %>
      <%= link_to 'Edit Event', edit_event_path(@event) %> |
      <%= link_to 'Delete', @event, method: :delete, data: {confirm: 'Are you sure?'} %>
    <% else %>
        Added by <%= "#{User.find_by_id(@event.user_id).username}"%></br>
     <% end %>

    <p><strong>When:</strong>
    <%= @event.date.strftime(" %B %d at %I:%M %p") %></p>
      <tr>
        <td><p><strong>Description:</strong></p></td>
        <td><%= simple_format(@event.description.gsub(URI.regexp, '<a href="\0">\0</a>')).html_safe %></span></td>
      </tr>
    </table>

    <table >
    <% if current_user && eu %>
      <% case eu.response %>
      <% when "yes" %>
        <tr>
          <td><strong>Change Your RSVP: </strong></td>
          <td><%= button_to "No", rsvp_no_path(@event), method: :delete %></td>
          <td><%= button_to "Maybe", rsvp_path(@event, response: "maybe") %></td>
      <% when "maybe" %>
          <td><strong>Change Your RSVP: </strong></td>
          <td><%= button_to "No", rsvp_no_path(@event), method: :delete %></td>
          <td><%= button_to "Yes", rsvp_path(@event, response: "yes") %></td>
      <% end %>
    <% else %>
        <td><strong>RSVP: </strong></td>
        <td><%= button_to "Yes", rsvp_path(@event, response: "yes") %></td>
        <td><%= button_to "Maybe", rsvp_path(@event, response: "maybe") %></td>
    <% end %>
      </tr>
    </table>
    <hr>
  </div>
