<!DOCTYPE html>
<html>
<head>
  <title>Gnomes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery.equalheights.js" %>
  <%= javascript_include_tag "semantic", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Gabriela" %>
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/flick/jquery-ui.css" />
  <%= javascript_include_tag "datepicker.js" %>
  <%= javascript_include_tag "jquery-ui-timepicker-addon.js" %>
  <%= csrf_meta_tags %>
</head>
<body id="home">
  <div id="nav">
   <div class="inverted secondary pointing ui menu">
    <div class="header item">Gnome Sweet Gnome</div>
    <div class="right menu">
      <%= link_to "Home", root_path, class: "item" %>
      <% if current_user %>
        <%= link_to "Profile", user_path(current_user.id), class: "item" %>
      <% end %>
      <%= link_to "News", "/#news", class: "item"  %>
      <%= link_to "Events", "/#events", class: "item"  %>
      <% if current_user %>
        <%= link_to "Tools", "/#tools", class: "item"  %>
      <% end %>
   </div>
 </div>
</div>

<%= yield %>

</body>
</html>
