<!DOCTYPE html>
<html>
<head>
  <title>Gnomes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    RIGHT NOW:
    <%= @weather.current.temperature.f %> F<br>
    <%= @weather.current.icon %><br><br>

    TODAY:<br>
    <%= @weather.today.high.f %> F<br>
    <%= @weather.today.low.f %> F<br>
    <%= @weather.today.icon %><br><br>

    <% @weather.forecast.first(5).each do |day| %>
      <%= day.high.f %> F<br>
      <%= day.low.f %> F<br>
      <%= day.icon %> <br><br>
    <% end %>
    </div>

  <%= link_to "Home", root_path %>
  <% if current_user && admin_user(current_user) %>
  <%= link_to "New Post", new_post_path %> <!-- for admins only -->
  <% end %>
  <% if current_user %>
    <%= link_to "Sign out", sign_out_path %>
  <% else %>
    <%= link_to "Sign In with Twitter", sign_in_path%>
  <% end %>

<%= yield %>

</body>
</html>
