<!DOCTYPE html>
<html>
<head>
  <title>Gnomes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "semantic", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "semantic", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet" %>
  <%= csrf_meta_tags %>
</head>
<body id="home">
  <div class="ui inverted page grid masthead segment">
   <div class="inverted secondary pointing ui menu">
    <div class="header item">Gnome Sweet Gnome</div>
    <div class="right menu">
     <%= link_to "Home", root_path, class: "item" %>
     <%= link_to "News", "/#news", class: "item"  %>
     <%= link_to "Events", "/#events", class: "item"  %>
     <%= link_to "Tools", "/#tools", class: "item"  %>
   </div>
 </div>
</div>








<%= yield %>

</body>
</html>
